<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Our cloud plans include easy onboarding for new and existing sites and
      managed WordPress and WooCommerce auto-updates.
    </p>
  </div>
</div>

<!--                    🔻🔻🔻   **!IMPORTANT!**   🔻🔻🔻                               -->

<!--YO DUDE, Remember to check the icon thingy, ya'know, the one that won't turn blue
      yeah, that one don't forget that bro! 
    
    
    
This is future neo talking: Ya its totally fine, idc
-->
